.logo-edit {
    font-size: 23px;
    font-weight: bold;
}

nav {
    box-shadow: 1px 1px white;
}

.active-sidenav {
    background-color: rgb(207, 92, 111);
}

.image-box {
    position: relative;
    bottom: 50px;
    background-color: rgb(143, 224, 143);
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.border-for-card {
    /* height: 300px; */
    box-shadow: 1px 1px 5px 1px black;
}

.small-text {
    font-size: 17px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.644);
}

.big-text {
    font-size: 33px;
    font-weight: 500;
}

.margin-for-last {
    margin: 6px;
}

.image-box-two {
    position: relative;
    bottom: 50px;
    background-color: rgb(226, 193, 133);
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.image-box-three {
    position: relative;
    bottom: 50px;
    background-color: rgb(143, 143, 241);
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.image-box-four {
    position: relative;
    bottom: 50px;
    background-color: rgb(233, 111, 131);
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.statistic-image {
    background-color: rgb(119, 221, 119);
    text-align: center;
    border: 1px solid black;
    position: relative;
    bottom: 50px;
}

.card-statistic {
    box-shadow: 1px 1px 5px 1px black;
}

.statistic-image-two {
    background-color: rgb(218, 187, 132);
    text-align: center;
    border: 1px solid black;
    position: relative;
    bottom: 50px;
}

.statistic-image-three {
    background-color: rgb(111, 111, 233);
    text-align: center;
    border: 1px solid black;
    position: relative;
    bottom: 50px;
}

.last-stat {
    display: flex;
    margin: 20px;
    position: relative;
    bottom: 10px;
}

.image-pos {
    margin: 20px 0px 20px 20px;
}

.color-block {
    background-color: rgb(218, 187, 132);
    text-align: center;
    border: 1px solid black;
    position: relative;
    bottom: 50px;
    height: 70px;
}

.color-block-two {
    background-color: rgb(111, 111, 233);
    text-align: left;
    border: 1px solid black;
    position: relative;
    bottom: 50px;
    height: 90px;
    padding-left: 20px;
}


.ed-text {
    
    padding: 23px;
    padding-left: 40px;
    padding-right: 40px;
}

.ed-block {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 15px;
}

.ed-block:hover {
    background-color: rgba(0, 0, 0, 0.123);
}

.pos-i {
    position: relative;
    top: 4px;
    left: 10px;
}

.circle-green {
    background-color: green;
    border-radius: 100%;
    width: 30px;
}

.circle-red {
    background-color: red;
    border-radius: 100%;
    width: 30px;
}

.pos-t-b {
    margin: 7px;
}

.footer-line {
    border-top: 1px solid rgba(0, 0, 0, 0.397);
    width: 95%;
}

.w-f {
    font-weight: bold;
}

.t-align-r {
    text-align: right;
}

.block-line-top {
    position: relative;
    top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    margin: 0px;
    /* height: 130px; */
}

.pad-top {
    margin-top: 10px;
}

.color-block-red {
    background-color: rgb(226, 113, 132);
    text-align: center;
    border: 1px solid black;
    position: relative;
    bottom: 50px;
    height: 90px;
}

.t-align-l {
    text-align: left;
    padding-left: 20px;
}

.user-comp {
    width: 200px;
    height: 50px;
    background-color: rgb(226, 113, 132);
    border: 1px solid black;
}

.user-comp > p {
    padding-top: 10px;
    font-weight: 500;
    text-align: center;
}

.footer-line-two {
    border-top: 1px solid rgba(0, 0, 0, 0.397);
    width: 95%;
}

.footr {
    padding-top: 100px;
}

.image-circle > img {
    border-radius: 50%;
    position: relative;
    bottom: 80px;
}

.p-top {
    padding-top: 30px;
}

.t-align-c {
    text-align: center;
}

.p-for-alec {
    padding-left: 100px;
}